.widget {
  border-radius: 16px;
  border: 2px solid rebeccapurple;
  padding: 1rem;

  max-width: 600px;
  width: 100%;

  .iframe-container {
    width: 100%;
    overflow: overlay;
  }

  .iframe {
    border: 0;
  }
}

@media (max-width: 680px) {
  .widget {
    max-width: 400px;
  }
}
